/* all the annotations n gunk are copied from sadgrl lol. except this one duh */

@font-face {
  font-family: 'VCR_OSD_MONO';
  src: url(/VCR_OSD_MONO.ttf);
}

@font-face {
    font-family: 'CascadiaCode';
    src: url(/CascadiaCode.ttf);
}

@font-face {
    font-family: 'OpenDyslexic3';
    src: url(/OpenDyslexic3-Regular.ttf);
}

.head {
    padding-top: 4px;
    padding-bottom: 4px;
}

.vcr {
    font-family: 'VCR_OSD_MONO';
}

main {
    max-width: 100%;
    overflow: auto;
}

ul, 
ul li,
ol li { 
    margin-bottom: 10px;
}

br {
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: white;
    border: 2px #434343;
    color: black;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



/* 
 * user styles
 * styles are what change the color and sizes of stuff on your site. these are
 * variables that are being used in the code. these tended to confuse some
 * people, so I only kept the images as variables
 */

:root {
    --header-image: url('https://felicitations.neocities.org/header.png');
    --body-bg-image: url('https://felicitations.neocities.org/background.png');

    /* colors */
    --content: #43256E;
}
    
body {
    /* (gold: what does this ↓ mean? does it mean JUST the background-size: 65px;?) */
    /* you can delete the line below if you'd prefer to not use an image */
    background-size: 65px;
    color: white;
    background-image: var(--body-bg-image);
    font-family: 'CascadiaCode';
    max-width: 1200px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

/* 
 * below this line is CSS for the layout
 *
 * the "container" is what wraps your entire website
 * if you want something (like the header) to be Wider than the other elements,
 * you will need to move that div outside of the container
 */

#container {
    max-width: 1000px;
    /* 
     * this is the width of your layout!
     * if you change the above value, scroll to the bottom and change the media
     * query according to the comment!
     */

    margin: 0 auto; /* centers entire page */

    background: black;
    display: inline;
}

/* the area below is for all links on your page EXCEPT for the navigation */
#container a {
    color: white;
    font-weight: bold;
    /* if you want to remove the underline you can uncomment this: */
    /* text-decoration: none; */
     
}

#header {
    /* 
     * this is only for a background image! if you want to put images IN the
     * header, you can add them directly to the <div id="header"></div> element
     */

    width: 100%;
    background-color: #434343;
    background-repeat: no-repeat;
    font-family: 'VCR_OSD_MONO' !important;

    /*
     * Personal note:
     * putting image in header directly means the header height adjusts to
     * image height. BETTER FOR MOBILE.
     */
}

/* navigation section!! */
#navbar {
    min-height: 40px;
    width: 100%;
    background-color: #434343; /* navbar color */
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding: 10px 0 0 10px;
}

/* navigation links*/
#navbar li a {
    color: white; /* navbar text color */
    font-weight: 800;
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
    color: white;
    text-decoration: underline;
}

#flex {
    display: flex;
    float: left;
}

/* 
 * this colors BOTH sidebars! if you want to style them separately,
 * create styles for #leftSidebar and #rightSidebar
 */
aside {
    background-color: #6d6d6d;
    width: 200px;
    padding: 20px;
    font-size: smaller; /* makes sidebar text slightly smaller */
}


/* this is the main content area, between the sidebars */
main {
    background-color: black;
    flex: 1;
    padding: 20px;
    order: 2;
}

/*
 * what's this "order" stuff about??
 * allow me to explain!
 *
 * if you're using both sidebars, the "order" value tells the CSS the order in
 * which to display them. left sidebar is 1, content is 2, and right sidebar is 3
 */

#leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}

footer {
    background-color: #434343;
    width: 100%;
    height: 100px;
    padding: 10px;
    text-align: center;
}

h1,
h2,
h3, 
h4 {
    color: white;
    font-family: 'VCR_OSD_MONO' ;
    
}

strong {
    color: #ED64F5;
}


/** CSS for extras ********************************************************** */

#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #13092D;
}


/** MEDIA QUERY ************************************************************* */

/*
 * so you wanna change the width of your page? by default, the container width
 * is 900px. in order to keep things responsive, take your new height, and then
 * subtrack it by 100. use this new number as the "max-width" value below
 */

@media only screen and (max-width: 1100px) {
    #flex {
        flex-wrap: wrap;
    }

    /*
     * the order of the items is adjusted here for responsiveness!
     * since the sidebars would be too small on a mobile device.
     * feel free to play around with the order!
     */

    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) {
    aside {
        width: 100%;
    }
    #flex {
        flex-wrap: wrap;
    }

    /* 
     * the order of the items is adjusted here for responsiveness, since the
     * sidebars would be too small on a mobile device.
     * feel free to play around with the order!
    */

    main {
        order: 1;
    }
    #leftSidebar {
        order: 2;
    }
    #rightSidebar {
        order: 3;
    }
    #navbar ul {
        flex-wrap: wrap;
    }
}