/* all the annotations n gunk are copied from sadgrl lol. except this one duh */

@font-face {
    font-family: 'VCR_OSD_MONO';
    src: url(/VCR_OSD_MONO.ttf);
}

@font-face {
    font-family: 'CascadiaCode';
    src: url(/CascadiaCode.ttf);
}

@font-face {
    font-family: 'OpenDyslexic3';
    src: url(/OpenDyslexic3-Regular.ttf);
}

.head {
    padding-top: 4px;
    padding-bottom: 4px;
}

.vcr {
    font-family: 'VCR_OSD_MONO';
}

main {
    max-width: 100%;
    overflow: auto;
}

ul,
ul li,
ol li {
    margin-bottom: 10px;
}

br {
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: white;
    border: 2px #434343;
    color: black;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*class for bottom right buttons */

.helper {
    position: fixed;
    right: 30px;
    z-index: 99;
    width: 180px;
    background-color: #434343;
    color: white;
    border-color: white;
    border: 2px solid;
    font-family: 'VCR_OSD_MONO';
}

/*Separate position by 40px per button*/

#button1 {
    bottom: 300px;
}

#button2 {
    bottom: 260px;
}

#button3 {
    bottom: 220px;
}

#button4 {
    bottom: 180px;
}

#button5 {
    bottom: 140px;
}

#button6 {
    bottom: 100px;
}

#button7 {
    bottom: 20px;
}

#settings {
    bottom: 60px;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.helper:hover {
    background-color: #6d6d6d;
    /* Add a dark-grey background on hover */
}

hr {
    border: 1px white solid;
    margin: 2em 1em;
}

/* 
 * user styles
 * styles are what change the color and sizes of stuff on your site. these are
 * variables that are being used in the code. these tended to confuse some
 * people, so I only kept the images as variables
 */

:root {
    --header-image: url('/header.png');
    --body-bg-image: url('/background.png');

    /* colors */
    --content: #43256E;
}

body {
    color: white;
    background-image: var(--body-bg-image);
    font-family: 'CascadiaCode';
    max-width: 1200px;
    margin: auto;
}

* {
    box-sizing: border-box;
}


/* dialogue ***************************************************************** */

.wish {
    font-weight: 1000;
    text-shadow: 1px 1px 2px white;
}

.dialogue {
    font-family: 'VCR_OSD_MONO';
    font-size: 22px;
    border: 13px solid transparent;
    border-image: url("/border.png") 14 round;
}

/* Feli note: for options without dialogue attached - cannibalized from Glow's dialogue-option class. */
/* did you know: you can put this in the same ul as the sif portrait variations that use regular li */

.option {
    margin: 0.5em 0 0.5em 2em;
    padding: 0.5em;
    border: 3px solid transparent;
    border-image: url("/border-choice.png") 3 stretch;
}

ul.dialogue-option {
    padding: 0;
    margin-right: 0.5em;
}

.dialogue-option li {
    list-style: none;
}

.dialogue-option summary,
.dialogue-option-only {
    margin: 0.5em 0 0.5em 2em;
    padding: 0.5em;
    border: 3px solid transparent;
    border-image: url("/border-choice.png") 3 stretch;
}
.dialogue-option-only {
    margin-left: 0.5em;
}
summary::-webkit-details-marker,
summary::marker {
    list-style: none;
    display: none;
    content: '';
}

.dialogue-option details::before {
    content: ">";
    float: left;
    margin: 0.5em;
}

.dialogue-option .invis-arrow details::before {
    color: transparent;
}

.dialogue-option details[open]::before {
    transform: rotate(90deg);
}

.dialogue-option .dialogue-note details::before {
    opacity: 0.5;
}

details .dialogue {
    margin-left: 2em;
}

.dialogue-line {
    display: block;
    margin: 0.5em;
}

.dialogue-name {
    font-weight: bold;
    display: inline-flex;
}

.dialogue-expression {
    display: inline-flex;
    font-size: smaller;
    opacity: 0.75;
}

.dialogue-expression::before {
    content: "\00a0";
    /* space */
}

.dialogue-head {
    display: inline-flex;
}

.dialogue-head::after {
    content: ":";
}

.dialogue-note {
    display: block;
    margin: 0.5em;
    opacity: 0.5;
}
.inline-note {
    float: right;
    margin: 0 0.5em;
    opacity: 0.5;
}
.big {
    font-size: larger;
}

.indented {
    margin-left: 2em;
}

.invis {
    opacity: 0;
    /* for when there's a line break in the middle of dialogue. just copy the head and make it invisible i guess */
}



/* 
 * below this line is CSS for the layout
 *
 * the "container" is what wraps your entire website
 * if you want something (like the header) to be Wider than the other elements,
 * you will need to move that div outside of the container
 */

#container {
    max-width: 1000px;
    /* 
     * this is the width of your layout!
     * if you change the above value, scroll to the bottom and change the media
     * query according to the comment!
     */

    margin: 0 auto;
    /* centers entire page */

    background: black;
    display: inline;
}

/* the area below is for all links on your page EXCEPT for the navigation */
#container a {
    color: white;
    font-weight: bold;
    /* if you want to remove the underline you can uncomment this: */
    /* text-decoration: none; */

}

#header {
    /* 
     * this is only for a background image! if you want to put images IN the
     * header, you can add them directly to the <div id="header"></div> element
     */

    width: 100%;
    background-color: #434343;
    font-family: 'VCR_OSD_MONO' !important;

    /*
     * Personal note:
     * putting image in header directly means the header height adjusts to
     * image height. BETTER FOR MOBILE.
     */
}

#headerArea {
    top: 0;
    z-index: 1;
}

/* navigation section!! */
.navbar {
    min-height: 40px;
    width: 100%;
    background-color: #434343;
    /* navbar color */
}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
    flex: wrap;
}

.navbar li {
    padding: 10px 0 0 10px;
}

/* navigation links*/
.navbar li a {
    color: white;
    /* navbar text color */
    font-weight: 800;
}

/* navigation link when a link is hovered over */
.navbar li a:hover {
    color: white;
    text-decoration: underline;
}

#flex {
    display: flex;
    float: left;
    height: 100%;
}

/* 
 * this colors BOTH sidebars! if you want to style them separately,
 * create styles for #leftSidebar and #rightSidebar
 */
aside {
    background-color: #6d6d6d;
    padding: 20px;
    font-size: smaller;
    /* makes sidebar text slightly smaller */
}


/* this is the main content area, between the sidebars */
main {
    background-color: black;
    flex: 1;
    padding: 20px;
    order: 2;
}

/*
 * what's this "order" stuff about??
 * allow me to explain!
 *
 * if you're using both sidebars, the "order" value tells the CSS the order in
 * which to display them. left sidebar is 1, content is 2, and right sidebar is 3
 */

#leftSidebar {
    order: 1;
    height: 100%;
    width: min-content;
}

#rightSidebar {
    order: 3;
}

footer {
    background-color: #434343;
    width: 100%;
    height: 100px;
    padding: 10px;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    color: white;
    font-family: 'VCR_OSD_MONO';

}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}


/** CSS for extras ********************************************************** */

#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #13092D;
}


/** MEDIA QUERY ************************************************************* */

/*
 * so you wanna change the width of your page? by default, the container width
 * is 900px. in order to keep things responsive, take your new height, and then
 * subtrack it by 100. use this new number as the "max-width" value below
 */
/* Feli note: Make the desktop layout min-width using the max of the mobile layout. That way both are 100% separate and you don't have mobile UI elements stacking onto the desktop layout. */

@media only screen and (min-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%
    }

    .dialogue {
        font-size: 16.5px;
    }

    /*
     * the order of the items is adjusted here for responsiveness!
     * since the sidebars would be too small on a mobile device.
     * feel free to play around with the order!
     */

    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #mobnav {
        display: none;
    }

}

@media only screen and (max-width: 800px) {

    #flex {
        display: block;
        float: none;
    }

    #headerArea {
        position: static;
    }

    .dialogue {
        font-size: 16px;
    }

    #desknav {
        display: none;
    }

    /* 
     * the order of the items is adjusted here for responsiveness, since the
     * sidebars would be too small on a mobile device.
     * feel free to play around with the order!
    */

    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
        width: 100%;
    }

}