name: Deploy to neocities

# only run on changes to master
on:
  push:
    branches:
      - main
      
env:
  FORCE_COLOR: 1
  node_version: lts/*

concurrency: # prevent concurrent deploys doing strange things
  group: deploy-to-neocities
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Deploy to neocities
      uses: bcomnes/deploy-to-neocities@v2 # dont use master in production
      with:
        api_token: ${{ secrets.NEOCITIES_API_TOKEN }}
        cleanup: true
        dist_dir: public
        protected_files: 'dropbox/*'
